@model EntityLayer.Concrete.Category

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>Kategori Güncelle</h1>

@using (Html.BeginForm("CategoryPageEdit", "Category", FormMethod.Post))
{
    @Html.Label("Blog ID")
    @Html.TextBoxFor(x => x.CategoryName , new {@class="form-control"})
    <br />
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.CategoryDescription  , new{@class="form-control" , @placeholder = "" })
    <br />

    <button class="btn btn-success">Güncelle</button>
}
