@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>KATEGORİ ADI</th>
        <th>DURUMU</th>
        <th>DETAYLAR</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryID</th>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">DETAYLAR</a></td>
            <td><a href="#" class="btn btn-danger">SİL</a></td>
            <td><a href="/Category/CategoryPageEdit/@item.CategoryID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
    }

</table>