
<div class="row">
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-calendar fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Tarih </span>
                    <h2 class="font-bold">@DateTime.Now.ToShortDateString()</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> İstanbul </span>
                    <h2 class="font-bold">@ViewBag.heat'C</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4 text-center">
                    <i class="fa fa-exchange fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Borsa </span>
                    <h2 class="font-bold">$ 4,232</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-music fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> New albums </span>
                    <h2 class="font-bold">12</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="widget  p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>
                <h1 class="m-xs">612</h1>
                <h3 class="font-bold no-margins">
                    Thunder
                </h3>
                <small>amount</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget navy-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs">456</h1>
                <h3 class="font-bold no-margins">
                    Shield
                </h3>
                <small>power</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs">Alarm</h1>
                <h3 class="font-bold no-margins">
                    Do
                </h3>
                <small>something</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-thumbs-up fa-4x"></i>
                <h1 class="m-xs">520</h1>
                <h3 class="font-bold no-margins">
                    Likes
                </h3>
                <small>amount</small>
            </div>
        </div>
    </div>
</div>